:root {
  --primary-color: #f33540;
  --secondary-color: #ef3340;
  --accent-color: #d83334;
  --background-color: #fff;
  --text-color-black: #000;
  --text-color-white: #fff;
}
*{
  font-family: "Poppins", sans-serif;
}
header{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 50px;
  margin-top: 20px;
}
#img-logo{
  justify-content: flex-start;
  margin-left: 50px;
}
nav ul{
  display: flex;
  gap: 30px;
  list-style: none;
}
a{
  text-decoration: none;
  color: black;  
}
#button-info{
  color: white;
  background-color: #f33540;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
}
/*Section primera img fundo*/
main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#background-img{
  background-image: url(./assets/poratadacover-scaled-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}
.img-texto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  flex-wrap: wrap;
  padding-right: 35%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  font-size: 30px;
}
.section-background{
  padding: 20px;
}
#p-background{
  font-size: 20px;
}
/*Bootcamps y Másteres*/
.titulo-cursos{
  margin-left: 50px;
}
.section-li-curso{
  list-style-type: none;
  position: absolute;
  color: white;
  font-size: 15px;
  bottom: 30px;
  left: 25px;
  padding-left: 20px;
}
.section-li-curso::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: red;
}
.img-cursos{
  width: 200px;
}
.cursos-container{
  display: inline-block;
  position: relative;
}

/*Qué nos hace diferentes*/
.section-diferencia{
  background-color: #d83334;
  color: white;
  padding: 20px 25px;
  
}
.div-diferencias{
  display: flex;
}
.diferencias{
  color: black;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px;
}